.drag-active {
  background-color: gainsboro;
}
.drag-inactive {
  border: none;
}
input[type="file"] {
  opacity: 0;
}
.playlist {
  border: 2px dotted gainsboro;
  border-radius: 5px;
  width: fit-content;
  padding: 0.4rem 1rem;
}
ul li {
  list-style: decimal;
}

.active-song {
  background-color: blue;
  color: white;
}
