@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap");

:root {
  --clr-primary: oklch(60.961% 0.17037 23.615);
  --bg-color: hsl(36, 25%, 12%);
  --base-color: white;
  --text-hover: rgba(231, 217, 217, 0.774);
  --font-fam: "Edu NSW ACT Cursive", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.drag-active {
  background-color: gainsboro;
}
.drag-inactive {
  border: none;
}
section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.controller {
  display: flex;
  flex-direction: column;
}
input[type="file"] {
  opacity: 0;
}
.playlist {
  border: 2px dotted gainsboro;
  border-radius: 5px;
  max-width: fit-content;
}
ul {
  background-color: var(--bg-color);
  overflow: auto;

  & li {
    list-style: decimal-leading-zero;
    padding: 0.4rem 0.2rem;
    color: var(--base-color);
    cursor: pointer;
    list-style: none;
    font-family: var(--font-fam);
  }
}
li:hover {
  background-color: var(--clr-primary);
  color: var(--text-hover);
}
.playlist:has(li) {
  border: none;
}
.active-song {
  background-color: var(--clr-primary);
  color: var(--text-hover);
  font-weight: bold;
  font-family: sans-serif;
}
.hidden {
  display: none;
}
