* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto 15rem;
  background: linear-gradient(90deg, orange, rgb(172, 160, 138));
  min-height: 90vh;
  font-family: sans-serif;
}
h1 {
  color: white;
  margin-bottom: 1rem;
  text-decoration: underline;
}
.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 15rem 0rem;
  border: 2px solid;
  padding: 3rem 1rem;
  box-shadow: 4px 1px 5px rgba(0, 0, 0, 0.16);
  border-radius: 0.9rem;
}
.texts {
  line-height: 1.5rem;
}
.buttons {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}
button {
  font-size: larger;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: indigo;
  color: white;
  outline: none;
  border: none;
  animation: pulse 1.5s infinite alternate;
  cursor: pointer;
}
button:hover {
  background-color: darkblue;
}
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
